<div class="substrate-auth">
    <div id="auth-panel">
        Авторизация
        <div class="auth-controls">
            <div class="">
                <input class="form-control auth-control" type="text" id="nameText" placeholder="ФИО">
            </div>
            <div class="">
                <input class="form-control auth-control" type="text" id="loginText" placeholder="Ник">
            </div>
            <div class="">
                <button class="btn btn-default" id="authButton">Войти</button>
            </div>
        </div>
    </div>
</div>