<div class="substrate-photo">
    <div id="photo-panel">
        Загрузка фото
        <div class="photo-controls">
            <div class="photo-loader">
                <canvas id="photo-canvas" width="200" height="200"></canvas>
            </div>
            <div class="">
                <button class="btn btn-default" id="cancelButton">Отмена</button>
            </div>
            <div class="">
                <button class="btn btn-default" id="loadButton">Загрузить</button>
            </div>
        </div>
    </div>
</div>