<div id="right-panel">

<div class="messages-panel">
    <ul class="list-group" id="messageContainer"></ul>
</div>

<div class="sending-row">
    <div class="col-sm-10">
        <input class="form-control" type="text" id="messageText" placeholder="Введите сообщение">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default" id="sendButton">Отправить</button>
    </div>
</div>

</div>